<input type="text" class="form-control" (keyup)="searchForValue($event)" [(ngModel)]="searchBarValue">

<div infiniteScroll
     [infiniteScrollUpDistance]='1'
     [infiniteScrollThrottle]="50"
     (scrolledUp)="onScroll()"
     [infiniteScrollContainer]="'.message-container'"
     [fromRoot]="true"
     class="mt-3">
  <div *ngFor="let searchElement of searchElements" class="card p-2 mb-2">
    <div class="row">
      <div class="col-10">
        <p>{{searchElement.elementQuery}}</p>
      </div>
    </div>
  </div>
</div>
