.center-icon-vertically {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-panel-margin {
  margin-top: calc(100% - 40px);
}

.icon-hoover:hover {
  color: #0059b7;
  cursor: pointer;
}

.message-input-height {
  height: 10vh;
}

.message-container {
  height: 73vh;
}
