<div class="row">
  <div class="col">
    <img [src]="'assets/images/empty_avatar.jpg'" class="img-fluid rounded-circle">
  </div>
  <div class="col">
    <div class="float-start w-100">
      <h1 class="fw-bold">@{{currentUser?.username}}</h1>
    </div>
    <span>{{currentUser?.status}}</span>
  </div>
  <div class="mt-2 editor-container">
    <textarea class="w-100 h-100 editor-area" [(ngModel)]="content"></textarea>
    <button class="btn btn-light float-end" (click)="savePost()">post</button>
  </div>
  <app-posts-frame></app-posts-frame>
</div>
