<div class="row">
  <div class="col">
    <img [src]="profileImage" class="img-fluid rounded-circle">
  </div>
  <div class="col">
    <div class="mb-3">
      <div class="float-start w-100">
        <h1 class="fw-bold">@{{currentUser?.username}}
          <mat-icon style="font-size: 20px" (click)="openProfileEditionDialog()">edit</mat-icon>
        </h1>
      </div>
      <span class="status-container ellipsis">{{currentUser?.status}}</span>
    </div>
    <div>
      <div class="row user-stats-profile">
        <div class="col-5">
          <span (click)="openFriendsDialog()" class="cursor-pointer">
            Friends {{currentUser?.friendsCount}}
          </span>
        </div>
        <div class="col-5 cursor-pointer">
          <span>
            Events {{currentUser?.eventsVisited}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <editor [init]="getEditorConfig()" [apiKey]="getEditorKey()"></editor>
  </div>
  <app-posts-frame></app-posts-frame>
</div>
