<div class="container sys-modal-container mb-2">
  <div class="mt-3">
    <h4>{{data.edit ? "Edit room" : "Create room"}}</h4>
    <div class="custom">
      <input type="file" class="custom-file-input" id="customFileLang"
             (change)="processFile($any($event.target).files)">
    </div>
    <div>
      <input type="text" placeholder="Room name" class="form-control" [(ngModel)]="room.roomName">
    </div>
    <div class="mt-2">
      <textarea class="form-control" rows="4" [maxLength]="500" placeholder="Description"
                [(ngModel)]="room.roomDescription"></textarea>
    </div>
    <div class="mt-2">
      <span class="text-black-50 ps-1">Members max</span>
      <div class="container me-2">
        <mat-slider min="1" max="1001" step="10" showTickMarks discrete [displayWith]="formatLabel" class="w-100">
          <input matSliderThumb [(ngModel)]="room.maxMembers">
        </mat-slider>
      </div>
    </div>
    <div class="mt-2">
      <ng-select [items]="possibleMembers"
                 bindLabel="name"
                 bindValue="id"
                 [multiple]="true"
                 [closeOnSelect]="false"
                 [(ngModel)]="room.members"
                 placeholder="Select members"
                 [maxSelectedItems]="100">
      </ng-select>
    </div>
    <div class="mt-2 w-100 d-block" style="height: 200px;">
      Location(lat, lng): {{room.geolocation.coords.location.x}}, {{room.geolocation.coords.location.y}}
      <app-maps [templateMode]="true" [title]="room.roomName"
                (selectedPoint)="room.geolocation = { coords: {location:{x: $event.lat, y: $event.lng}}}"
                from="room-create"></app-maps>
    </div>
  </div>
  <div class="mt-4">
    <span class="text-black-50 ps-1">Create chat:</span>
    <input type="checkbox" [value]="room.roomOptions.createChatRoomCreate"
           [checked]="room.roomOptions.createChatRoomCreate"/>
  </div>
  <div class="row mt-4 w-100 mb-2">
    <div class="col" *ngIf="data.edit">
      <button class="btn btn-danger ellipsis" (click)="deleteRoom()">Delete</button>
    </div>
    <div class="col">
      <button class="btn float-end ellipsis" (click)="saveRoom()">Save</button>
    </div>
  </div>
</div>
