<div class="sys-modal-container">
  <div class="flex-md-column">
    <div class="text-center">
      <h1 class="mt-3 bald-link fr-modal-header">Friends</h1>
    </div>
  </div>
  <hr>
  <div class="container" *ngFor="let friend of friendsList">
    <div class="row friend-element">
      <div class="col">
        <p>{{friend.username}}</p>
      </div>
      <div class="col">
        <div class="float-end">
          <div class="cursor-pointer" (click)="goToChat(friend)">
            <mat-icon>mail_outline</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
