/* You can add global styles to this file, and also import other style files */
body {
  border: none !important;
  margin: 0px !important;
  padding: 0 !important;
  overflow: hidden;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, Inconsolata;
}

.backdropBackground {
  backdrop-filter: blur(4px);
}

.ng-select-material {
@import "node_modules/@ng-select/ng-select/themes/material.theme";
}

.ng-select-default {
@import "node_modules/@ng-select/ng-select/themes/default.theme";
}

.ellipsis {
  text-overflow: ellipsis;
}

.bald-link {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

.sys-modal-container {
  min-height: auto;
  max-height: 700px;
  min-width: 25vw;
  overflow-x: hidden;
}
.sys-modal-container-huge {
  min-height: auto;
  max-height: 700px;
  min-width: 25vw;
  overflow-x: hidden;
}

.y-container {
  overflow-y: auto;
}
