<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <input type="text" class="form-control w-100">
    </div>
    <div class="col">
      <button type="button" class="btn btn-light" (click)="openCreateRoomDialog()" data-toggle="modal"
              data-target="#exampleModal">Create room
      </button>
    </div>
  </div>
  <div class="container mt-2">
    <div *ngFor="let creatorRoom of asyncCreatorRooms; index as i">
      <div class="row">
        <div class="col">
          <p>{{creatorRoom.roomName}}</p>
        </div>
        <div class="col">
          <button class="btn" (click)="openEditRoomDialog(creatorRoom)">Edit</button>
          <button class="btn">Activate</button>
        </div>
      </div>
    </div>
    <div *ngFor="let memberRoom of asyncMemberRooms; index as i">
      <p>{{memberRoom.roomName}}</p>
    </div>
  </div>
</div>
